# vim
*.sw*

# bundler config
/.bundle

# the default SQLite database.
/db/*.sqlite3

# all logfiles and tempfiles.
/log/*.log
/tmp/**/*

# production config.
config/rails_pwnerer

# hang onto some directory structure.
!tmp/pids/.gitkeep
