/* global styles */
/* line 6, ../../app/assets/stylesheets/layout.sass */
body {
  font: 0.9em "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #444444;
  text-shadow: 1px 1px 0px white;
}

/* line 12, ../../app/assets/stylesheets/layout.sass */
div.clear {
  clear: both;
}

/* line 15, ../../app/assets/stylesheets/layout.sass */
.hover_link {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
/* line 19, ../../app/assets/stylesheets/layout.sass */
.hover_link:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 23, ../../app/assets/stylesheets/layout.sass */
h1 {
  text-align: center;
  font-size: 2.4em;
}

/* line 27, ../../app/assets/stylesheets/layout.sass */
a {
  color: #9e2020;
  text-decoration: none;
}
/* line 30, ../../app/assets/stylesheets/layout.sass */
a:visited {
  color: #9e2020;
}
/* line 32, ../../app/assets/stylesheets/layout.sass */
a:hover {
  color: #de2626;
}
/* line 34, ../../app/assets/stylesheets/layout.sass */
a:active {
  color: #9e2020;
}

/* line 37, ../../app/assets/stylesheets/layout.sass */
span.light {
  color: #666666;
}

/* line 40, ../../app/assets/stylesheets/layout.sass */
button {
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 0 0 5px 0 #cccccc inset;
  -webkit-box-shadow: 0 0 5px 0 #cccccc inset;
  box-shadow: 0 0 5px 0 #cccccc inset;
  color: #444444;
}

/* line 51, ../../app/assets/stylesheets/layout.sass */
form.popup {
  display: block;
  padding: 10px;
}
/* line 55, ../../app/assets/stylesheets/layout.sass */
form.popup label {
  display: block;
  float: left;
}
/* line 63, ../../app/assets/stylesheets/layout.sass */
form.popup input {
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 0 0 5px 0 #cccccc inset;
  -webkit-box-shadow: 0 0 5px 0 #cccccc inset;
  box-shadow: 0 0 5px 0 #cccccc inset;
  color: #444444;
}
/* line 74, ../../app/assets/stylesheets/layout.sass */
form.popup textarea {
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 70px;
  padding: 5px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 0 0 5px 0 #cccccc inset;
  -webkit-box-shadow: 0 0 5px 0 #cccccc inset;
  box-shadow: 0 0 5px 0 #cccccc inset;
  color: #444444;
  resize: none;
}
/* line 87, ../../app/assets/stylesheets/layout.sass */
form.popup input[type=submit], form.popup button {
  display: block;
  float: none;
  margin-left: 100px;
  width: 100px;
  padding: 5px;
  color: #444444;
  background: #eeeeee url("/assets/textures/diagonal_noise.png") repeat right top;
  -moz-box-shadow: 0 1px 3px 0 #dddddd;
  -webkit-box-shadow: 0 1px 3px 0 #dddddd;
  box-shadow: 0 1px 3px 0 #dddddd;
  border: 1px solid #cccccc;
  text-shadow: 1px 1px 0px white;
}
/* line 99, ../../app/assets/stylesheets/layout.sass */
form.popup input[type=submit]:hover, form.popup button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f2f2f2');
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
  background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
}

/* line 104, ../../app/assets/stylesheets/layout.sass */
form.confirmation_form {
  text-align: center;
}

/* line 107, ../../app/assets/stylesheets/layout.sass */
form.confirmation_form h2 {
  text-align: center;
  margin-bottom: 5px;
}

/* line 111, ../../app/assets/stylesheets/layout.sass */
form.confirmation_form hr {
  text-align: center;
  margin-top: 5px;
}

/* line 115, ../../app/assets/stylesheets/layout.sass */
form.confirmation_form input[type=submit] {
  margin-left: auto;
  margin-right: auto;
}

/* page header */
/* line 121, ../../app/assets/stylesheets/layout.sass */
div#header_container {
  position: relative;
  z-index: 100;
}
/* line 127, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
  text-shadow: none;
}
/* line 134, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header a {
  color: #999999;
  text-decoration: none;
}
/* line 137, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header a:visited {
  color: #999999;
}
/* line 139, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header a:hover {
  color: #cccccc;
}
/* line 141, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header a:active {
  color: #999999;
}
/* line 144, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header div#logo_container {
  float: left;
  width: 200px;
}
/* line 148, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header img#logo {
  display: block;
  float: left;
  padding: 11px 0px 12px 0px;
}
/* line 153, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header div#navigation_container {
  float: left;
  width: 560px;
  padding-top: 26px;
  text-align: center;
}
/* line 159, ../../app/assets/stylesheets/layout.sass */
div#header_container div#header div#login_container {
  float: right;
  text-align: right;
  padding-top: 26px;
  width: 200px;
}

/* main content */
/* line 172, ../../app/assets/stylesheets/layout.sass */
div#main_container div#main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}

/* flash messages */
 * div.message
 *   margin: 20px 0px
 *   padding: 10px 20px
 *   background-color: #fff9bf
 *   +box-shadow(0px, 1px, 3px, 0px, #ddd)
 *   border: 1px solid #e8de6f
 *   text-shadow: none
 * div.error
 *   margin: 20px 0px
 *   padding: 10px 20px
 *   background-color: #FFDEDE
 *   +box-shadow(0px, 1px, 3px, 0px, #ddd)
 *   border: 1px solid #f2aaaa
 *   text-shadow: none */
/* line 193, ../../app/assets/stylesheets/layout.sass */
img.flash_close {
  display: block;
  float: right;
  margin: 1px 0px;
}

/* page footer */
/* line 200, ../../app/assets/stylesheets/layout.sass */
div#footer_container {
  position: relative;
  z-index: 100;
  border-top: 1px solid #999999;
  -moz-box-shadow: 0px 0px 10px 0px #333333;
  -webkit-box-shadow: 0px 0px 10px 0px #333333;
  box-shadow: 0px 0px 10px 0px #333333;
}
/* line 206, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer {
  width: 960px;
  margin: 0 auto;
  color: #999999;
  padding: 20px 0px;
  text-shadow: none;
}
/* line 212, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer a {
  color: #ff4040;
}
/* line 214, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer a:visited {
  color: #ff4040;
}
/* line 216, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer a:hover {
  color: #cccccc;
}
/* line 218, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer a:active {
  color: #ff4040;
}
/* line 221, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer_left {
  width: 600px;
  float: left;
}
/* line 225, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer_right {
  width: 340px;
  float: left;
  text-align: right;
  margin-left: 20px;
}
/* line 230, ../../app/assets/stylesheets/layout.sass */
div#footer_container div#footer_right img {
  margin-left: 20px;
}

/* line 233, ../../app/assets/stylesheets/layout.sass */
div#footer_shadow_cover {
  position: relative;
  z-index: 200;
  height: 1px;
  border-bottom: 1px solid #444444;
  background-color: #222222;
}
