/* line 1, ../../app/assets/stylesheets/submissions.sass */
#editor {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}

/* line 8, ../../app/assets/stylesheets/submissions.sass */
.centercontent {
  text-align: center;
}

/* line 11, ../../app/assets/stylesheets/submissions.sass */
.important-notes {
  margin-left: 20px;
}
