<div class="row">
  <div class="five columns centered">
    
    <h2>Register</h2>
<% content_for :head do %>
  <%= stylesheet_link_tag "login" %>
  <%= javascript_include_tag "login" %>
<% end %>

<div id="actual_registration_page">
  <%= render 'form' %>
</div>
</div>
</div>