@import 'mixins'


div.big_box_left, div.big_box_right
  width: 428px
  height: 150px
  margin-bottom: 18px
  padding: 20px
  background: #eeeeee url('/assets/textures/diagonal_noise.png') repeat right top
  -moz-box-shadow: 0px 1px 3px #ddd
  -webkit-box-shadow: 0px 1px 3px #ddd
  box-shadow: 0px 1px 3px #ddd
  border: 1px solid #ccc
  cursor: pointer
  text-align: center
  font-size: 2.7em
  font-weight: bold
  color: #666

div.big_box_left:hover, div.big_box_right:hover
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f2f2f2')
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2))
  background: -moz-linear-gradient(top,  #f9f9f9,  #f2f2f2)
  color: #333

div.big_box_left
  float: left

div.big_box_right
  float: right

div.column_left, div.column_right
  width: 460px
  text-align: justify
  margin-bottom: 18px

div.column_left
  float: left

div.column_right
  float: right

